*.iml
.gradle
/build
**/build/
xcuserdata
xcuserdata/
!src/**/build/
local.properties
/local.properties

.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
captures
/captures
.externalNativeBuild
.cxx

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
Pods/
*.hprof
.vscode
App.xcarchive
App.ipa
